<svg version="1.1"
     width="${width}"
     height="${height}"
     xmlns="http://www.w3.org/2000/svg"
>
    <style>
        .text-foreground {
            fill: ${foreground-color};
        }
    </style>
    ${content}
</svg>
